
form{
    
    width: 100%;
    .container{
        max-height: 100%;
        overflow-y: auto;
        margin: 10px 20px;
        p{
            display: inline-block;
            margin: 3px;
        }
        
    }

    .personal{

        .wrapper{
            margin: 10px;
        }
    }
}

.wrapper{
    margin: 10px;
    label{
        display:inline-block;
        width: 5%;
        text-align: end;
    }
    input{
        outline: none;
        width: 30%;
    }
}

.address{
    margin: 10px 20px;

    
}