.container{
    display: flex;
    justify-content: center;
    form{
        margin: 20px 10px;

        input{
            outline: none;
            width: 500px;
            height: 30px;
            border-radius: 20px;
            text-align: center;
            border-width: 0.5px;
        }
    }
}